* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for header*/
body {
    color: navy;
    font-family: Helvetica, Arial, sans-serif;
    background-color: lavender;   
}

header {
    background-color: rgb(18, 18, 59);
<<<<<<< HEAD
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
=======
>>>>>>> main
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    display: inline;
    margin: 0;
    background-color: lightblue;
<<<<<<< HEAD
=======
    display: inline;
>>>>>>> main
    padding-left: 50px;
}

header h1 a {
    color: rgb(18, 18, 59);
}

header a {
    color: lightblue;
    text-decoration: none;
}

header nav {
<<<<<<< HEAD
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
=======
    float: right;
    margin: 0;
}

header nav ul li {
    display: inline;
>>>>>>> main
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
<<<<<<< HEAD
    font-size: 1.55vw;
=======
    font-size: 25px;
>>>>>>> main
}

/* End header styles */

.hero {
<<<<<<< HEAD
    background-image: url("../images/portforlio\ hero\ image.jpg");
=======
    background-image: url("../images/portforlio/ hero/ image.jpg");
>>>>>>> main
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2 {
    background-color: lightblue;
    position: absolute;
    padding: 20px;
    width: 500px;
    bottom: 0px;
    right: 0px;
    font-size: 45px;
}

/* Section styles */

section h2 {
    color:rgb(18, 18, 59);
<<<<<<< HEAD
    font-size: 40px;
=======
>>>>>>> main
}


/* Footer Styles */
footer {
    color:rgb(18, 18, 59);
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 40px;
=======
}

footer h2 {
    font-size: 45px;
>>>>>>> main
}

footer nav {
    text-align: center;

}

footer ul li {
<<<<<<< HEAD
    text-align: center;
}

footer nav ul li {
=======
    display: inline;
    text-align: center;
    font-size: 30px;
}

footer nav ul li a {
>>>>>>> main
    margin: 0 30px;
    font-weight: lighter;
    font-size: 25px;
}